<%= render partial: 'home/global', locals: {section: "회계 페이지"} %>
<div class="container" style="height:100%">
  <iframe style="width : 100%;" src="https://docs.google.com/spreadsheets/d/1rxWwB7Lcy_30905DTdyvMYs8QwXdmjhaCMcCoI1vkUo/htmlembed?single=false&gid=0&widget=true&headers=false&chrome=true" height="1150"></iframe>
</div>

