<%= render partial: 'global', locals: {section: "Gallery"} %>

<section id="gallery" class="gallery">
  <div class="container">
    <div class="row">
      <% @gallerys.each do |g| %>
        <div class="col-sm-4 col-xs-12">
          <figure class="wow fadeInLeft animated portfolio-item animated" data-wow-duration="500ms" data-wow-delay="0ms" style="visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 0ms; -webkit-animation-delay: 0ms; animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;">
            <div class="img-wrapper">
              <img src="<%= asset_path("#{g[:file]}") %>" class="img-responsive" alt="this is a title">
              <div class="overlay text-center">
                <div class="buttons">
                  <a rel="gallery" class="fancybox"><%= g[:name] %></a>
                </div>
              </div>
            </div>
          </figure>
        </div>
      <% end %>
    </div>
  </div>
</section>
