<%= render partial: 'home/global', locals: {section: "출석부"} %>
<div class="container" style="height:100%">
  <iframe style="width : 100%;" src="https://docs.google.com/spreadsheets/d/1E5i6RDiFrlVSkEdJNBuY1D2GytgDyv1E5KWlHb2r_og/htmlembed?single=true&gid=0&widget=true&headers=false&chrome=true" height="950"></iframe>
</div>

