// Place all the styles related to the homework controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.edit-tool {
  display: inline-block;
  position: absolute;
  right: 2.5rem;
}

html {
  overflow-x:hidden
}
